html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../image/seamless.png);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

* {
  font-family: Sans-serif;
  text-decoration: none;
  list-style-type: none;
}

/* ----- Header----- */

header {
  height: 90px;
  background-color: #fff;
  border-bottom: 2px solid #ccc;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

.header-container {
  height: 90px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 964px;
}

.navigation__wrapper > a {
  width: 250px;
  height: 90px;
  background-color: #4aaaa5;
  display: flex;
}

.header-menu__links {
  margin: 35px 0;
  display: flex;
}

.header-menu__links > li {
  padding-left: 15px;
  border-left: 1px solid #e0e0e0;
  margin-left: 15px;
}

.header-menu__links > li > a:hover {
  color: #4aaaa5;
  border-bottom: 1px solid #4aaaa5;
}

.header-menu__links > :first-child {
  border: none;
}

.header-menu__links > li > a {
  color: #999;
  font-size: 18px;
}

.fa-apple {
  font-size: 55px;
  margin: auto 10px auto 35px;
  color: #fff;
}

h1 {
  font-size: 45px;
  margin: auto 0;
  color: #fff;
}

/* ----- Main----- */

main {
  margin: 130px auto 40px;
  width: 964px;
  display: flex;
}

.main-container {
  background-color: #fff;
  padding: 30px;
  width: 588px;
  border: 1px solid #ddd;
  margin-right: 30px;
}

h3 {
  font-size: 35px;
  color: #4aaaa5;
  margin: 0 0 20px;
  border-bottom: 3px solid #ccc;
  line-height: 70px;
}

h2 {
  font-size: 24px;
  line-height: 34px;
  color: #777;
}

img.apple-build {
  margin-right: 20px;
}

p {
  font-size: 18px;
  line-height: 34px;
  color: #777;
}

.navbar {
  background-color: #fff;
  padding: 30px;
  max-width: 208px;
  border: 1px solid #ddd;
  height: 150px;
}

.navbar-connect {
  color: #4aaaa5;
  font-size: 25px;
  font-weight: 700;
  margin: 0 0 20px;
  border-bottom: 2px solid #eee;
  padding-bottom: 20px;
}

.mobile-apps {
  display: flex;
  padding: 0;
}

.mobile-apps > li {
  margin: 3px;
  cursor: pointer;
}

.mobile-apps > li:hover {
  opacity: 0.65;
}

.all-products {
  display: flex;
  flex-wrap: wrap;
}

.products {
  position: relative;
  display: flex;
}

.products > img {
  width: 278px;
  margin-bottom: 30px;
}

.products:nth-child(2n-1) > img {
  margin-right: 30px;
}

span {
  position: absolute;
  text-align: center;
  padding: 15px 0;
  bottom: 65px;
  color: #fff;
  background-color: #4aaaa5;
  width: 278px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  border: 1px solid #ddd;
  height: 35px;
}

textarea {
  height: 200px;
}

input[placeholder] {
  padding-left: 5px;
  font-size: 15px;
}

input[type="submit"] {
  cursor: pointer;
  padding: 10px 30px;
  color: #fff;
  background-color: #4aaaa5;
  border: none;
  font-size: 18px;
  margin-top: 15px;
}

input[type="submit"]:hover {
  background-color: #73c2be;
}

.input-title {
  color: #777;
  font-size: 18px;
  line-height: 45px;
}

/* ----- Footer----- */

footer {
  background-color: #666;
  border-top: 8px solid #4aaaa5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  padding: 35px 0;
  color: #ccc;
  font-size: 12px;
}
